/* Write your CSS code here */
/* Write your CSS code here */
.image {
  height: 180px;
  width: 250px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.list-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}
.avatar {
  height: 50px;
  width: 50px;
}
.heading {
  font-size: 15px;
  font-family: Bree serif;
}
